<?xml version="1.0"?>
<!--
/**
 * This file is part of the Orangecat PricesList package.
 *
 * (c) Oliverio Gombert <olivertar@gmail.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Orangecat_PricesList::priceslist" title="Price Lists" sortOrder="10">
                    <resource id="Orangecat_PricesList::priceslist_save" title="Create / Edit Price Lists" sortOrder="10"/>
                    <resource id="Orangecat_PricesList::priceslist_delete" title="Delete Price Lists" sortOrder="20"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
